/* Responsive For Mobile or Small Device */
@media screen and (max-width: 40rem) {
  /* Common CSS */
  .sec_title {
    font-size: 1.512rem;
  }

  .sec_description {
    font-size: 1rem;
  }

  /* Box Width */
  header,
  .product_sec {
    width: 90%;
  }

  /* Navbar */
  .navbar {
    width: 100%;
  }

  .site_logo img {
    width: 3.969rem;
    height: 2.394rem;
  }

  .nav_menu ul {
    display: none;
  }

  /* Banner */
  .banner_sec {
    margin-top: 28px;
    margin-bottom: 65px;
  }

  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 28px;
    padding: 0;
  }

  .banner_right img {
    position: relative;
    right: -5%;
    width: 100%;
  }

  .banner_left h1,
  span {
    font-size: 1.512rem;
    line-height: 2.079rem;
  }

  .banner_left p {
    font-size: 1rem;
  }

  /* Product Gallery */
  .product {
    width: 171px;
  }

  .sec_description br {
    display: none;
  }
}
