/* Responsive For Mobile or Small Device */
@media screen and (max-width: 40rem) {
  /* Common CSS */
  .sec_title {
    font-size: 1.512rem;
  }

  .sec_description {
    font-size: 1rem;
  }

  /* Box Width */
  header,
  .product_sec,
  .fstore_sec,
  .offer_sec,
  .newslatte_sec {
    width: 90%;
  }

  /* Navbar */
  .navbar {
    width: 100%;
  }

  .site_logo img {
    width: 3.969rem;
    height: 2.394rem;
  }

  .nav_menu ul {
    display: none;
  }

  /* Banner */
  .banner_sec {
    margin-top: 28px;
    margin-bottom: 65px;
  }

  .banner {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 28px;
    padding: 0;
  }

  .banner_right img {
    position: relative;
    right: -5%;
    width: 100%;
  }

  .banner_left h1,
  span {
    font-size: 1.512rem;
    line-height: 2.079rem;
  }

  .banner_left p {
    font-size: 1rem;
  }

  /* Product Gallery */
  .product_sec {
    margin-bottom: 40px;
  }

  .product {
    width: 44%;
  }

  .sec_description br {
    display: none;
  }

  /* Flower Store */
  .fstore {
    flex-direction: column;
    justify-content: center;
    gap: 18px;
  }

  .trust_badge {
    display: none;
  }

  .fstore_left img {
    width: 100%;
  }

  .fstore_right {
    width: 90%;
    text-align: left;
  }

  .fstore_right h2 {
    font-size: 24px;
  }

  .fstore_right ul li {
    font-size: 14px;
  }

  /* Offer Section */
  .offer_sec .sec_head {
    margin-bottom: 50px;
  }

  .offers {
    flex-direction: column;
    gap: 25px;
  }

  .offer25 {
    border-radius: 14px;
    width: 366px;
    height: 206px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../Assets/deal-zabo.png);
  }

  .offer25 .black_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .offer25 h3 {
    font-size: 1.26rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 19px;
  }

  .offer25 a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    text-decoration: underline;
  }

  /* News Latter */
  .newslatte_sec {
    height: 275px;
  }

  .newslatter h3 {
    font-size: 1.26rem;
    font-weight: 700;
  }

  .newslatter #email {
    width: 218px;
  }

  .newslatter #subscribe {
    padding: 15px 12px;
  }
}
